// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.more-info-box{display: none;}

.navbar-brand{
  color: #333!important;
  font-size: 13px;
}

body{
  background-image: linear-gradient(#fafafa, #fff);
  background-repeat: repeat-x;
}

.stamp, .substamp{
  transform: scale(1.2, 1.2) rotate(30deg);
  color: var(--stamp-color);
  border: 2px solid var(--stamp-color);
  border-radius: 6px;
  font-weight: bold;
  font-size: 28px;
  text-align: center;
  line-height: 38px;
  z-index: 9999;
  position: relative;
  &.paid{
    --stamp-color: var(--green);
  }
  &.waiting{
    --stamp-color: var(--orange);
  }
  &.outdated{
    --stamp-color: var(--red);
  }
}

.substamp{
  font-size: 18px;
  border-width: 0px;
  transform: scale(1.0, 1.0) rotate(0deg);
}

@include media-breakpoint-down(lg) { 
  .stamp{
    width: 100%;
    font-size: 18px;
    transform: scale(1.0, 1.0) rotate(25deg);
  }
}

.form-control[readonly]{
  background-color: white;
}

.tx-box{
  padding-top: 10px;
  font-size: 12px;
  color: #222;
  thead{
    font-size: 10px;
    color: #666;
  }
  table{
    width: 100%;
  }
  td{
    text-align: center;
    width: 33.3%;
  }
  tfoot{
    border-top: 1px solid #ccc;
    color: var(--orange);
  }
}

.progress-bar{
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: bold;
  font-size: 14px;
  text-shadow: 0px 0px 5px $blue;
  font-family: Arial;
  margin: 0 auto;
}

.lead{
  overflow: hidden;
}

#qr{
  font-size: 12px;
  text-align: center;
  img{
    border-radius: 8px;
  }
}